

    <div class="main_content" style="margin-top:2%">
    <div class="boxedWrap">


        <section class="section_padding_top_80 section_padding_bottom_50" >
            <div class=" container">

                <div class="row">
                    <!-- Buscador -->

                    <div class="col-md-12">
                        <div class="ng-pristine ng-valid">
                            <div class="input-group form-group">
                                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                                <input type="text" class="form-control" placeholder="Busqueda" aria-describedby="sizing-addon1" ng-model="facCtrl.busqueda">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="sc_content main">
                    <div class="columnsWrap sc_columns sc_columns_count_3">
                        <div class="columns1_3 sc_column_item sc_column_item_1 odd first" ng-repeat="fact in facCtrl.ListFacturas | filter: facCtrl.busqueda | orderBy: '-FactId' " >
                            <span class="sc_icon glyphicon glyphicon-shopping-cart sc_icon_s1"></span>
                            <h4 class="sc_title sc_title_color1 tm_15">
                                <a data-toggle="modal" data-target="#myModal" ng-click="facCtrl.detalleFactura(fact.FactId)">Factura Num : <b> {{fact.FactId}}  </b></a>
                            </h4>
                            <div class="sc_button sc_button_style_dark filled sc_button_size_medium filledButton dark medium ico tm_15 bm_30">
                                <b>Fecha : {{fact.FacFecha}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</div>
    



    </div><!-- ./boxedWrap -->
</div><!-- ./main_content -->


<div id="myModal" class="modal fade" role="dialog">
  


    <div class="sc_pricing_table columns_4 alignCenter">
        <div class="sc_pricing_columns sc_pricing_column_1" style="  margin-left: 40%;    margin-top: 3%;">
            <ul class="columnsAnimate">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="  margin-right: 2%; margin-top: 2%;"><span aria-hidden="true">×</span></button>
                <li class="sc_pricing_data sc_pricing_title">
                    
                    <div><b>Factura: </b>{{facCtrl.FacturaSeleccionada[0].FactId}}</div>
                </li>
                <li class="sc_pricing_data sc_pricing_price">
                    <div>
                        <div class="sc_price_item">
                            <div class="sc_price_currency">$</div>
                            <div class="sc_price_money">{{facCtrl.preciototalfac | currency:""}}</div>
                            <div class="sc_price_info">
                                <!--<div class="sc_price_penny">99</div>-->
                                <div class="sc_price_period">Pesos</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sc_pricing_data" ng-repeat="detalle in facCtrl.FacturaSeleccionada[0].tblDetalle " ng-init="facCtrl.sumaPrecioTotal(detalle.DetPrecioTotal)">
         
                    <div>{{detalle.tblProducto.ProdNombre}} <br />Precio Unitario($):{{ (detalle.DetPrecioUnitario ) | currency:"USD$"}}<br /> Precio ($):{{ (detalle.DetPrecioTotal ) | currency:"USD$"}}<br /> Cantidad: {{detalle.DetCantidad}}</div>
                </li>
              
            </ul>
        </div>

    </div>

      

    
</div>


