
 
 <!-- Main Content -->
  <div class="page-wrapper">
    <div class="container-fluid pt-25">
            
        <!-- Row -->
        <div class="row">
            <div class="col-lg-3 col-xs-12">
                <div class="panel panel-default card-view  pa-0">
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body  pa-0">
                            <div class="profile-box">
                                <div class="profile-cover-pic">
                                    <div class="fileupload btn btn-default">
                                        <span class="btn-text">edit</span>
                                        <input class="upload" type="file">
                                    </div>
                                    <div class="profile-image-overlay"></div>
                                </div>
                                <div class="profile-info text-center">
                                    <div class="profile-img-wrap">
                                        
                                        <img class="inline-block mb-10" ng-src="{{user.imgProfile}}"   alt="user"/>
                                        <div class="fileupload btn btn-default">
                                            <span class="btn-text">edit</span>
                                            <input class="upload" type="file">
                                        </div>
                                    </div>	
                                    
                                    <h5 class="block mt-10 mb-5 weight-500 capitalize-font txt-primary">{{ user.nombre + ' ' + user.apellido }}</h5>
                                    <h6 class="block capitalize-font pb-20">{{user.nombre_rol}}</h6>
                                 
                                   
                                    
                                </div>	
                                <div class="social-info">
                                 
                                        <button class="btn btn-success btn-block btn-rounded  btn-anim mt-30" ng-click="GoCreacionSyllabus()" ><i class="fa fa-plus"></i><span class="btn-text">Crear syllabus</span></button>
                                 
                                        <button style="margin-bottom: 5%;" class="btn btn-primary btn-block btn-rounded  btn-anim mt-30" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i><span class="btn-text" >edit profile</span></button>
                                    <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h5 class="modal-title" id="myModalLabel">Edit Profile</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Row -->
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="">
                                                                <div class="panel-wrapper collapse in">
                                                                    <div class="panel-body pa-0">
                                                                        <div class="col-sm-12 col-xs-12">
                                                                            <div class="form-wrap">
                                                                                <form action="#">
                                                                                    <div class="form-body overflow-hide">
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10" for="exampleInputuname_1">Name</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                                <input type="text" class="form-control" id="exampleInputuname_1" placeholder="willard bryant">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10" for="exampleInputEmail_1">Email address</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="icon-envelope-open"></i></div>
                                                                                                <input type="email" class="form-control" id="exampleInputEmail_1" placeholder="xyz@gmail.com">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10" for="exampleInputContact_1">Contact number</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                                                                <input type="email" class="form-control" id="exampleInputContact_1" placeholder="+102 9388333">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10" for="exampleInputpwd_1">Password</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                                                                <input type="password" class="form-control" id="exampleInputpwd_1" placeholder="Enter pwd" value="password">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10">Gender</label>
                                                                                            <div>
                                                                                                <div class="radio">
                                                                                                    <input type="radio" name="radio1" id="radio_1" value="option1" checked="">
                                                                                                    <label for="radio_1">
                                                                                                    M
                                                                                                    </label>
                                                                                                </div>
                                                                                                <div class="radio">
                                                                                                    <input type="radio" name="radio1" id="radio_2" value="option2">
                                                                                                    <label for="radio_2">
                                                                                                    F
                                                                                                    </label>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label class="control-label mb-10">Country</label>
                                                                                            <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                                                                                <option value="Category 1">USA</option>
                                                                                                <option value="Category 2">Austrailia</option>
                                                                                                <option value="Category 3">India</option>
                                                                                                <option value="Category 4">UK</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-actions mt-10">			
                                                                                        <button type="submit" class="btn btn-primary mr-10 mb-30">Update profile</button>
                                                                                    </div>				
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Save</button>
                                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-12">
                <div class="panel panel-default card-view pa-0">
                    <div class="panel-wrapper collapse in">
                        <div  class="panel-body pb-0">
                            <div  class="tab-struct custom-tab-1">
                                <ul role="tablist" class="nav nav-tabs nav-tabs-responsive" id="myTabs_8">
                                  
                                    <li class="active" role="presentation"><a data-toggle="tab" id="follo_tab_8" role="tab" href="#follo_8" aria-expanded="false"  target="_self"><span>Syllabus<span class="inline-block">(6)</span></span></a></li>
                                    <li role="presentation" class="next"><a  data-toggle="tab" id="photos_tab_8" role="tab" href="#photos_8" aria-expanded="false" target="_self"><span>Pendiente aprobacion</span></a></li>
                                    <li role="presentation" class=""><a  data-toggle="tab" id="earning_tab_8" role="tab" href="#earnings_8" aria-expanded="false" target="_self"><span>Borradores</span></a></li>
                                    <li role="presentation" class=""><a  data-toggle="tab" id="settings_tab_8" role="tab" href="#settings_8" aria-expanded="false" target="_self"><span>Configuracion</span></a></li>
                                    <!-- <li class="dropdown" role="presentation">
                                        <a  data-toggle="dropdown" class="dropdown-toggle" id="myTabDrop_7" href="#" aria-expanded="false"><span>More</span> <span class="caret"></span></a>
                                        <ul id="myTabDrop_7_contents"  class="dropdown-menu">
                                            <li class=""><a  data-toggle="tab" id="dropdown_13_tab" role="tab" href="#dropdown_13" aria-expanded="true">About</a></li>
                                            <li class=""><a  data-toggle="tab" id="dropdown_14_tab" role="tab" href="#dropdown_14" aria-expanded="false">Followings</a></li>
                                            <li class=""><a  data-toggle="tab" id="dropdown_15_tab" role="tab" href="#dropdown_15" aria-expanded="false">Likes</a></li>
                                            <li class=""><a  data-toggle="tab" id="dropdown_16_tab" role="tab" href="#dropdown_16" aria-expanded="false">Reviews</a></li>
                                        </ul>
                                    </li> -->
                                </ul>
                                <div class="tab-content" id="myTabContent_8">                          
                                    
                                    <div  id="follo_8" class="tab-pane fade active in" role="tabpanel" >
                                            <div class="panel-wrapper collapse in">
                                                
                                                    <div class="panel-body">
                                                        <div class="panel-group accordion-struct accordion-style-1" id="accordion_2" role="tablist" aria-multiselectable="true">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading activestate" role="tab" id="heading_10">
                                                                    <a role="button" data-toggle="collapse" data-parent="#accordion_2" target="_self"  href="#collapse_10" aria-expanded="true" ><div class="icon-ac-wrap pr-20"><span class="plus-ac"><i class="ti-plus"></i></span><span class="minus-ac"><i class="ti-minus"></i></span></div>PREG. EN INGENIERIA DE SISTEMAS</a> 
                                                                </div>
                                                                <div id="collapse_10" class="panel-collapse collapse in" role="tabpanel">
                                                                        <div class="row" style="padding-left: 5%;">
                                                                                <div class="col-lg-12">
                                                                                    <div class="followers-wrap">
                                                                                        <ul class="followers-list-wrap">
                                                                                            <li class="follow-list">
                                                                                                <div class="follo-body">
                                                                                                    <div class="follo-data" ng-repeat="option in HmeCtrl.ListSyllabus">
                                                                                                        <!-- <img class="user-img img-circle"  src="img/user.png" alt="user"/> -->
                                                                                                        <i class="user-img img-circle fas fa-file-alt fa-2x"></i>
                                                                                                        <div class="user-data">
                                                                                                            <span class="name block capitalize-font">{{ option.materia.nombre }} -{{ option.materia.tipo }} <br>{{  option.observacion }}</span>
                                                                                                            <span class="time block truncate txt-grey">{{option.fec_creacion}}</span>
                                                                                                        </div>
                                                                                                        <a class="btn btn-primary pull-right btn-xs"  ng-click='HmeCtrl.enviarInspeccionar(option.id_syllabus)' > <i class="fas fa-eye"></i>&nbsp; Inspeccionar</a>
                                                                                                        <a class="btn btn-primary pull-right btn-xs" style="margin-right: 2%;"  ng-click='HmeCtrl.enviarInspeccionar(option.id_syllabus)' > <i class="fas fa-file-pdf"></i> Generar PDF</a>
                                                                                                        <div class="clearfix"></div>
                                                                                                    </div>
                                                                                                   
                                                                                                   
                                                                                                                                                                                             
                                                                                                </div>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                            </div>


                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="heading_11">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_2" target="_self"  href="#collapse_11" aria-expanded="false"  ><div class="icon-ac-wrap pr-20"><span class="plus-ac"><i class="ti-plus"></i></span><span class="minus-ac"><i class="ti-minus"></i></span></div>ESP. EN GERENCIA DE TECNOLOGIA </a>
                                                                </div>
                                                                <div id="collapse_11" class="panel-collapse collapse" role="tabpanel">

                                                                        <div class="row" style="padding-left: 5%;">
                                                                                <div class="col-lg-12">
                                                                                        <div class="followers-wrap">
                                                                                            <ul class="followers-list-wrap">
                                                                                                <li class="follow-list">
                                                                                                    <div class="follo-body">
                                                                                                        <div class="follo-data">
                                                                                                                <i class="user-img img-circle fas fa-file-alt fa-2x"></i>
                                                                                                                <div class="user-data">
                                                                                                                    <span class="name block capitalize-font">Gerencia de proyectos informaticos</span>
                                                                                                                    <span class="time block truncate txt-grey">Lorem Ipsum es simplemente el texto de relleno .</span>
                                                                                                                </div>
                                                                                                                <a class="btn btn-primary pull-right btn-xs" ng-href="#!/detalleSyllabus">Inspeccionar</a>
                                                                                                                <div class="clearfix"></div>
                                                                                                            </div>     
                                                                                                            <div class="follo-data">
                                                                                                                <i class="user-img img-circle fas fa-file-alt fa-2x"></i>
                                                                                                                <div class="user-data">
                                                                                                                    <span class="name block capitalize-font">Gestion de redes y comunicaciones</span>
                                                                                                                    <span class="time block truncate txt-grey">Lorem Ipsum es simplemente el texto de relleno .</span>
                                                                                                                </div>
                                                                                                                <a class="btn btn-primary pull-right btn-xs" ng-href="#!/detalleSyllabus">Inspeccionar</a>
                                                                                                                <div class="clearfix"></div>
                                                                                                            </div>
                                                                                                            <div class="follo-data">
                                                                                                                <i class="user-img img-circle fas fa-file-alt fa-2x"></i>
                                                                                                                <div class="user-data">
                                                                                                                    <span class="name block capitalize-font">Programacion</span>
                                                                                                                    <span class="time block truncate txt-grey">Lorem Ipsum es simplemente el texto de relleno .</span>
                                                                                                                </div>
                                                                                                                <a class="btn btn-primary pull-right btn-xs" ng-href="#!/detalleSyllabus">Inspeccionar</a>
                                                                                                                <div class="clearfix"></div>
                                                                                                            </div>  
                                                                                                    </div>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                        </div>

                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="heading_12">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_2" target="_self"  href="#collapse_12" aria-expanded="false" ><div class="icon-ac-wrap pr-20"><span class="plus-ac"><i class="ti-plus"></i></span><span class="minus-ac"><i class="ti-minus"></i></span></div> ESP. EN GERENCIA DE PROYECTOS </a>
                                                                </div>
                                                                <div id="collapse_12" class="panel-collapse collapse" role="tabpanel">
                                                                    <div class="panel-body pa-15"> Lorem Ipsum es simplemente el texto de relleno </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="heading_13">
                                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_2" target="_self"  href="#collapse_13" aria-expanded="false" ><div class="icon-ac-wrap pr-20"><span class="plus-ac"><i class="ti-plus"></i></span><span class="minus-ac"><i class="ti-minus"></i></span></div> MAEST. EN GESTION DE PROYECTOS</a>
                                                                </div>
                                                                <div id="collapse_13" class="panel-collapse collapse" role="tabpanel">
                                                                    <div class="panel-body pa-15"> Lorem Ipsum es simplemente el texto de relleno</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                    </div>


                                    <div  id="photos_8" class="tab-pane fade" role="tabpanel">

                                        <div class="panel-wrapper collapse in">                                                
                                                <div class="panel-body">
                                                    <div class="panel-group accordion-struct accordion-style-1" id="accordion_2" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="heading_11">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_2" target="_self"  href="#collapse_111" aria-expanded="false"  ><div class="icon-ac-wrap pr-20"><span class="plus-ac"><i class="ti-plus"></i></span><span class="minus-ac"><i class="ti-minus"></i></span></div>ESP. EN GERENCIA DE TECNOLOGIA </a>
                                                </div>
                                                <div id="collapse_111" class="panel-collapse collapse" role="tabpanel">
                                                    <div class="row" style="padding-left: 5%;">
                                                            <div class="col-lg-12">
                                                                    <div class="followers-wrap">
                                                                        <ul class="followers-list-wrap">
                                                                            <li class="follow-list">
                                                                                <div class="follo-body">
                                                                                    <div class="follo-data">
                                                                                            <i class="user-img img-circle fas fa-file-alt fa-2x"></i>
                                                                                            <div class="user-data">
                                                                                                <span class="name block capitalize-font">Gerencia de proyectos informaticos</span>
                                                                                                <span class="time block truncate txt-grey">Lorem Ipsum es simplemente el texto de relleno .</span>
                                                                                            </div>
                                                                                            <a class="btn btn-primary pull-right btn-xs" ng-href="#!/detalleSyllabus">Inspeccionar</a>
                                                                                            <div class="clearfix"></div>
                                                                                        </div>     
                                                                                        <div class="follo-data">
                                                                                            <i class="user-img img-circle fas fa-file-alt fa-2x"></i>
                                                                                            <div class="user-data">
                                                                                                <span class="name block capitalize-font">Gestion de redes y comunicaciones</span>
                                                                                                <span class="time block truncate txt-grey">Lorem Ipsum es simplemente el texto de relleno .</span>
                                                                                            </div>
                                                                                            <a class="btn btn-primary pull-right btn-xs" ng-href="#!/detalleSyllabus">Inspeccionar</a>
                                                                                            <div class="clearfix"></div>
                                                                                        </div>
                                                                                        <div class="follo-data">
                                                                                            <i class="user-img img-circle fas fa-file-alt fa-2x"></i>
                                                                                            <div class="user-data">
                                                                                                <span class="name block capitalize-font">Programacion</span>
                                                                                                <span class="time block truncate txt-grey">Lorem Ipsum es simplemente el texto de relleno .</span>
                                                                                            </div>
                                                                                            <a class="btn btn-primary pull-right btn-xs" ng-href="#!/detalleSyllabus">Inspeccionar</a>
                                                                                            <div class="clearfix"></div>
                                                                                        </div>  
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div  id="earnings_8" class="tab-pane fade" role="tabpanel">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <form id="example-advanced-form" action="#">
                                                    <div class="table-wrap">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped display product-overview" id="datable_1">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Date</th>
                                                                        <th>Item Sales Colunt</th>
                                                                        <th>Earnings</th>
                                                                    </tr>
                                                                </thead>
                                                                
                                                                <tbody>
                                                                    <tr>
                                                                        <td>monday, 12</td>
                                                                        <td>
                                                                         3
                                                                        </td>
                                                                        <td>$400</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>tuesday, 13</td>
                                                                        <td>
                                                                         2
                                                                        </td>
                                                                        <td>$400</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>wednesday, 14</td>
                                                                        <td>
                                                                         3
                                                                        </td>
                                                                        <td>$420</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>thursday, 15</td>
                                                                        <td>
                                                                         5
                                                                        </td>
                                                                        <td>$500</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>friday, 15</td>
                                                                        <td>
                                                                         3
                                                                        </td>
                                                                        <td>$400</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>saturday, 16</td>
                                                                        <td>
                                                                         3
                                                                        </td>
                                                                        <td>$400</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>sunday, 17</td>
                                                                        <td>
                                                                         3
                                                                        </td>
                                                                        <td>$400</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>monday, 18</td>
                                                                        <td>
                                                                         3
                                                                        </td>
                                                                        <td>$500</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>tuesday, 19</td>
                                                                        <td>
                                                                         3
                                                                        </td>
                                                                        <td>$400</td>
                                                                    </tr>
                                                                </tbody>
                                                            
                                                                <tfoot>
                                                                    <tr>
                                                                        <th colspan="2">total:</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div  id="settings_8" class="tab-pane fade" role="tabpanel">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="">
                                                    <!-- <div class="panel-wrapper collapse in">
                                                        <div class="panel-body pa-0">
                                                            <div class="col-sm-12 col-xs-12">
                                                                <div class="form-wrap">
                                                                    <form action="#">
                                                                        <div class="form-body overflow-hide">
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="exampleInputuname_01">Name</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                    <input type="text" class="form-control" id="exampleInputuname_01" placeholder="willard bryant">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="exampleInputEmail_01">Email address</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-envelope-open"></i></div>
                                                                                    <input type="email" class="form-control" id="exampleInputEmail_01" placeholder="xyz@gmail.com">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="exampleInputContact_01">Contact number</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                                                    <input type="email" class="form-control" id="exampleInputContact_01" placeholder="+102 9388333">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="exampleInputpwd_01">Password</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                                                    <input type="password" class="form-control" id="exampleInputpwd_01" placeholder="Enter pwd" value="password">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10">Gender</label>
                                                                                <div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="radio1" id="radio_01" value="option1" checked="">
                                                                                        <label for="radio_01">
                                                                                        M
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="radio1" id="radio_02" value="option2">
                                                                                        <label for="radio_02">
                                                                                        F
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10">Country</label>
                                                                                <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                                                                    <option value="Category 1">USA</option>
                                                                                    <option value="Category 2">Austrailia</option>
                                                                                    <option value="Category 3">India</option>
                                                                                    <option value="Category 4">UK</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-actions mt-10">			
                                                                            <button type="submit" class="btn btn-primary mr-10 mb-30">Update profile</button>
                                                                        </div>				
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
        
     
    
    </div>

    
</div>
<!-- /Main Content -->