

    <div class="main_content">
        <div class="boxedWrap">  


            <div class="mainWrap without_sidebar">
                <div class="content">
                    <div class="itemscope">
                        <div class="post no_margin page">
                            <div class="post_content">
                                <div class="post_text_area">
                                    <section class="">
                                        <div class="container">
                                            <div class="page404">
                                                <div class="titleError">Bienvenido</div>
                                                <div class="h2">Compra y cotiza tus productos Preferidos </div>
                                                <!-- <p>Go back, or return to
                                            <a href="#">Plumbing</a>
                                            home page to choose a new page.
                                            <br>
                                            Please report any broken links to our team.
                                        </p> -->
                                                <div class="inputSubmitAnimation radCircle">
                                                    <form class="search_form" action="#" method="get">
                                                        <input type="text" class="sInput" name="s" value="" placeholder="What are you searching for?">
                                                    </form>
                                                    <a href="#" class="searchIcon aIco search" title="Search"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- ./boxedWrap -->
    </div><!-- ./main_content -->


