



<div class="main_content">
    <div class="boxedWrap">




        <div id="mainslider_1" class="sliderHomeBullets staticSlider slider_engine_revo slider_alias_slider1 mainslider_1">
            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
                <!-- START REVOLUTION SLIDER 5.1.4 fullwidth mode   David Acostaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" data-version="5.1.4">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="rs-slider-1">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/home1slider1.jpg" alt="" data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption rs-style-1 tp-resizeme"
                                 id="slide-1-layer-1"
                                 data-x="['left','left','left','left']" data-hoffset="['400','250','170','140']"
                                 data-y="['top','top','top','top']" data-voffset="['130','130','190','200']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:850;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;s:1000;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-color="white">
                                <b>Registrate Ahora</b>
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption rs-style-2 tp-resizeme"
                                 id="slide-1-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['400','250','170','140']"
                                 data-y="['top','top','top','top']" data-voffset="['170','170','215','225']"
                                 data-fontsize="['44','44','35','30']"
                                 data-lineheight="['56','56','46','36']"
                                 data-width="['none','none','none','320']"
                                 data-height="none"
                                 data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                 data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;s:1000;"
                                 data-start="1600"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-color="white">
                                Compra
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption rs-style-3 tp-resizeme"
                                 id="slide-1-layer-3"
                                 data-x="['left','left','left','left']" data-hoffset="['400','150','170','140']"
                                 data-y="['top','top','top','top']" data-voffset="['225','225','255','295']"
                                 data-fontsize="['48','38','35','30']"
                                 data-lineheight="['56','56','46','36']"
                                 data-width="['none','none','none','320']"
                                 data-height="none"
                                 data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                 data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:1900;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:300;s:300;"
                                 data-start="1900"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-color="white">
                                Tus productos de forma Online.
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-1-layer-4"
                                 data-x="['left','left','left','left']" data-hoffset="['400','250','170','140']"
                                 data-y="['top','top','top','top']" data-voffset="['300','300','315','390']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:2200;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;s:1000;"
                                 data-start="2450"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-color="red">
                                <div class="sc_button sc_button_style_light filled sc_button_size_big filledButton light big">
                                    <a data-toggle="modal" data-target="#myModal" class="sc_button sc_button_style_global sc_button_size_medium roundButton global medium sc_emailer_button searchIcon aIco mail">Prueba Identiline</a>
                                </div>
                            </div>
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption   tp-resizeme"
                                 id="slide-1-layer-5"
                                 data-x="['left','left','left','left']" data-hoffset="['590','440','355','300']"
                                 data-y="['top','top','top','top']" data-voffset="['300','300','315','390']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:2000;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;s:1000;"
                                 data-start="2450"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-color="red">
                                <!-- <div class="sc_button sc_button_style_light filled sc_button_size_big filledButton light big">
                <a href="http://themeforest.net/user/themerex/portfolio" class="">get a quote</a>
            </div> -->
                            </div>
                        </li>
                       
                        <!-- SLIDE  -->
                        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-delay="9000" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="rs-slider-2">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/home1slider3.jpg" alt="" data-bgposition="top right" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption rs-style-4 tp-resizeme"
                                 id="slide-2-layer-1"
                                 data-x="['left','left','left','left']" data-hoffset="['460','310','100','100']"
                                 data-y="['top','top','top','top']" data-voffset="['75','115','245','225']"
                                 data-fontsize="['24','24','24','20']"
                                 data-lineheight="['28','28','28','24']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:top;s:850;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;s:1000;"
                                 data-start="700"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                Servicio Disponible 24 Horas!
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption rs-style-5 tp-resizeme"
                                 id="slide-2-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['460','310','100','100']"
                                 data-y="['top','top','top','top']" data-voffset="['110','150','280','260']"
                                 data-fontsize="['36','36','36','28']"
                                 data-lineheight="['42','42','42','36']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:right;s:1000;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;s:1000;"
                                 data-start="1300"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                REGISTRATE
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption rs-style-6 tp-resizeme"
                                 id="slide-2-layer-3"
                                 data-x="['left','left','left','left']" data-hoffset="['460','310','100','10']"
                                 data-y="['top','top','top','top']" data-voffset="['169','210','340','320']"
                                 data-width="670"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:bottom;s:1200;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;s:1000;"
                                 data-start="2200"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on">
                                <div class="sc_contact_form sc_contact_form_contact_1 contact_form_1">
                                    <form class="contact_1" method="post" action="http://plumbing-html.themerex.net/include/contact-form.php">
                                        <div class="columnsWrap">
                                            <div class="columns1_2">
                                                <div class="">
                                                    <input type="text" name="name" id="contact_form_username" class="" placeholder="Nombre">
                                                </div>
                                                <div class="">
                                                    <input type="text" name="email" id="contact_form_email" class="" placeholder="Apellido">
                                                </div>
                                                <div class="">
                                                    <input type="text" name="phone" id="contact_form_phone" class="" placeholder="Numero Documento">
                                                </div>
                                               
                                            </div>
                                         <!--   <div class="columns1_2">
                                                <div class="">

                                                    <input type="text" name="name" id="contact_form_username" class="" placeholder="Direccion">

                                                </div>
                                                <div class="">
                                                    <input type="text" name="email" id="contact_form_email" class="" placeholder="Telefono">
                                                </div>
                                                <div class="">
                                                    <input type="text" name="phone" id="contact_form_phone" class="" placeholder="Correo Electronico">
                                                </div>
                                                <div class="">
                                                    <input type="text" name="phone" id="contact_form_phone" class="" placeholder="Contraseña">
                                                </div>
                                            </div>-->
                                            <div class="columns1_2">
                                                <div class="sc_contact_form_button">
                                                    <div class="sc_button sc_button_style_dark sc_button_size_big dark big">
                                                        <button type="submit" name="contact_submit" class="contact_form_submit">Crear una Cuenta</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="result sc_infobox"></div>
                                    </form>
                                </div>
                            </div>
                        </li>

                        
                        <!-- SLIDE  -->
                        <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/home1slider2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption rs-style-7  tp-resizeme"
                                 id="slide-3-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['133','133','133','133']"
                                 data-fontsize="['48','48','48','34']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:top;s:1000;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;s:1000;"
                                 data-start="1300"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-end="8300"
                                 data-color="white">
                                Crear Una Cuenta
                            </div>
                            <!-- LAYER NR. 2 -->
                            <!-- 	<div class="tp-caption   tp-resizeme"
                                    id="slide-3-layer-2"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['top','top','top','top']" data-voffset="['194','194','194','194']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"

                                    data-transform_in="y:bottom;s:1600;e:Power2.easeInOut;"
                                    data-transform_out="opacity:0;s:1000;s:1000;"
                                    data-start="1600"
                                    data-responsive_offset="on"
                                    data-end="8300"
                                    >
                                    <img src="images/phone_with_white_bg.png" alt="" width="456" height="180" data-ww="['456px','456px','456px','456px']" data-hh="['180px','180px','180px','180px']" data-no-retina>
                                </div> -->
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption rs-style-8 tp-resizeme"
                                 id="slide-3-layer-3"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['299','299','299','299']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;s:1000;"
                                 data-start="3100"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 data-end="8300"
                                 data-color="white">
                                Es Completamente Gratis
                            </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
            </div>
        </div>







        <!---------------------------	futerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr	-->
        <div class="footerContentWrap">
            <footer class="footerWrap footerStyleDark">
                <div class="main footerWidget widget_area">
                    <div class="columnsWrap">
                        <aside class="columns1_4 widgetWrap widget widget_text">
                            <h3 class="title">Nosotros</h3>
                            <div class="textwidget">
                                <figure class="sc_image sc_image_shape_square">
                                    <img src="assets/images/logo-footer.png" alt="" />
                                </figure>
                                <br />  Dirección: <br /> Calle 77 No 11 - 19 oficina 701 Bogotá - Colombia

                                <br />  E-mail: servicioalcliente@identico.com.co
                                servicioalcliente@identico-sa.com
                                insumos@identico-sa.com
                                <br />  Telefonos:
                                <br /> Bogotá: 742 9166
                                Celular: 317 423 3032
                                Medellín: 604 8969
                                Manizales: 892 8128
                                Cartagena: 693 5036
                                Sincelejo: 276 4576
                            </div>
                        </aside>
                        <aside class="columns1_4 widgetWrap widget widget_nav_menu">
                            <h3 class="title">Servicio</h3>
                            <div class="menu-services-container">
                                <ul id="menu-services" class="menu">
                                    <li class="menu-item">
                                        <a href="#">Generar</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Diseñar</a>
                                    </li>                                   
                                    <li class="menu-item">
                                        <a href="#">Selecciona Logotipo</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Carga tus Fotos</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Ingresa información</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Compra en linea</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">Verifica el estado de tu compra</a>
                                    </li>

                                </ul>
                            </div>
                        </aside>
                        <aside class="columns1_4 widgetWrap widget widget_text">
                            <h3 class="title">Informacion</h3>
                            <div class="textwidget">
                                Si, Estoy interesado en recibir información  acerca de Identiline!
                                <div class="sc_emailer inputSubmitAnimation sFocus rad4 opened">
                                    <form>
                                        <input type="text" class="sInput" name="email" value="" placeholder="Correo Electronico">
                                    </form>
                                    <a href="#" class="sc_button sc_button_style_global sc_button_size_medium roundButton global medium sc_emailer_button searchIcon aIco mail" title="Submit" data-group="E-mail collector group">subscribe</a>
                                </div>
                            </div>
                        </aside>
                        <!-- <aside class="columns1_4 widgetWrap widget widget_text">
                            <h3 class="title">Plumbing Service Coupon</h3>
                            <div class="textwidget">
                                <a href="#">
                                    <figure class="sc_image  sc_image_shape_square">
                                        <img src="images/coupon.png" alt="" />
                                    </figure>
                                </a>
                            </div>
                        </aside> -->
                    </div>
                </div>
            </footer>
            <!-- ./blackStyle -->
            <div class="copyWrap">
                <div class="copy main">
                    <div class="copyright">
                        &copy;
                        <a> Visita Nuestras Redes Sociales</a>
                    </div>
                    <div class="copy_socials socPage">
                        <ul>
                            <li>
                                <a class="social_icons icon-tumblr" target="_blank" href="https://twitter.com/IDenticoSAS">
                                </a>
                            </li>
                            <li>
                                <a class="social_icons icon-facebook" target="_blank" href="https://www.facebook.com/IDenticoSAS">
                                </a>
                            </li>
                            <li>
                                <a class="social_icons icon-blog-with-sidebar" target="_blank" href="http://identicosas.blogspot.com/">
                                </a>
                            </li>
                            <li>
                                <a class="social_icons icon-youtube-play" target="_blank" href="https://www.youtube.com/user/Identicocolombia">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.footerContentWrap -->
    </div><!-- ./boxedWrap -->
</div><!-- ./main_content -->
<div class="upToScroll">
    <a href="#" class="scrollToTop icon-up-open-big" title="Back to top"></a>
</div>



 <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog login_mod" >

        <!-- Modal content-->





        <div class="col offset-l1 l10 m12 s12 column">
            <div class="registration-page">
                <div class="theme-form login-form">
                    <div class="white-title">
                        <i class="icon-key"></i>
                        <h4>Iniciar Sesión prueba</h4>

                    </div>

                    <form id="myform" ng-submit="login()">
                        <div class="input-field col s12"><input type="email" placeholder="Correo Electronico" name="email" ng-model='email' /></div>
                        <div class="input-field col s12"><input type="password" placeholder="Contraseña" name="pass" ng-model='password' /></div>
                        <a href="#" title="">No recuerdo mi contraseña</a>
                        <div class="input-field col s12"><button type="submit"><i class="fa fa-user-md"></i> Iniciar Sesión</button></div>
                    </form>

                    <div ng-if="MostrarCarga" class="animate-repeat ng-scope ng-animate ng-enter ng-enter-active">
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-info" data-transitiongoal="80" aria-valuenow="100" style="width: 100%;">Cargando...</div>
                        </div>
                    </div>


                    <div class="other-logins">
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                </div><!-- Login Form -->
                <div class="theme-form registration-form">
                    <div class="white-title">
                        <i class="icon-signin"></i>
                        <h4>Registrarse</h4>

                    </div>
                    <form id="myform2">

                        <div ng-if="formR1">
                            <div class="input-field col s12"><input type="text" placeholder="Nombre" name="nombre" ng-model="registro.UsuaNombre" /></div>
                            <div class="input-field col s12"><input type="text" placeholder="Apellido" name="apellido" ng-model="registro.UsuaApellido" /></div>
                            <div class="input-field col s12"><input type="email" placeholder="Correo Electronico" name="email" ng-model="registro.UsuaEmail" /></div>
                            <div class="input-field col s12"><input type="text" placeholder="Numero Telefonico" name="telefono" ng-model="registro.UsuaTel" /></div>
                            <div class="input-field col s12"><input type="password" placeholder="Contraseña" name="contra" ng-model="registro.UsuaPsw" /></div>
                            <div class="input-field col s12" ><button  ng-click="translateFormReg(esta)"><i class="fa fa-user-md"></i>Siguiente</button></div>
                                
                         </div>
                        <div ng-if="formR2">
                            <!-- <div class="input-field col s12"><input type="password" placeholder="Tipo Documento" ng-model="" /></div>-->
                            <div class="input-field col s12"><input type="text" placeholder="Numero de documento" name="numDoc" ng-model="registro.UsuaDocu" /></div>
                            <div class="input-field col s12"><input type="text" placeholder="Ciudad" name="ciud" ng-model="registro.UsuaCiud" /></div>
                            <div class="input-field col s12"><input type="text" placeholder="Direccion" name="dire" ng-model="registro.UsuaDire" /></div>
                            <div class="input-field col s12"><button ng-click="registrar(registro)"><i class="fa fa-user-md"></i>Abrir una Cuenta</button></div>
                            <a ng-click="translateFormReg(esta)" title="" style="cursor:pointer">Volver Atras</a>

                        </div>
                        <div ng-if="MostrarCargaReg"  class="animate-repeat ng-scope ng-animate ng-enter ng-enter-active">
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" data-transitiongoal="80" aria-valuenow="100" style="width: 100%;">Cargando...</div>
                            </div>
                        </div>

                    </form>
                </div><!-- Registration Form -->
            </div><!-- Registration Popup -->
        </div>
    </div>
</div>



<script src="assets/js/custom/_main.min.js"></script>













