
 
<!-- Main Content -->
<div class="page-wrapper">
        <div class="container-fluid">
            
            	<!-- Title -->
					<div class="row heading-bg">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <h5 class="txt-dark">Mostrar Syllabus</h5>
                            </div>  
                            
                            <!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                                <ol class="breadcrumb">
                                    <li><a ng-href="#!/home">Pagina Principal</a></li>                             
                                    <li class="active"><span>Mostrar Syllabus</span></li>
                                </ol>
                            </div>
                            <!-- /Breadcrumb -->
                        </div>
                        
                        <!-- /Title -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-lg-12">

                                    <div class="form-wrap">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-body">
                                                    <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Detalle syl</h6>
                                                    <hr class="light-grey-hr"/>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">fec_creacion:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> {{ MsylCtrl.ListSyllabus.Syllabus.fec_creacion }} </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">observacion:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> {{MsylCtrl.ListSyllabus.Syllabus.observacion}} </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!-- /Row -->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">modalidad:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> {{ MsylCtrl.ListSyllabus.Detalle.modalidad }} </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">proposito:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> {{MsylCtrl.ListSyllabus.Detalle.proposito}} </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <!-- /Row -->
                                                  
                                                    
                                                    <div class="seprator-block"></div>
                                                    
                                                    <h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account-box mr-10"></i>address</h6>
                                                    <hr class="light-grey-hr"/>
                                                   
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">City:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> Los Angeles </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">State:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> California</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div
                                                    <!-- /Row -->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Post Code:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> 457890 </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Country:</label>
                                                                <div class="col-md-9">
                                                                    <p class="form-control-static"> USA </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                </div>
                                               
                                            </form>
                                        </div>  


                            </div>
                        </div>
                        <!-- /Row -->      
    </div>    
</div>
<!-- /Main Content -->